.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid gray;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    background-color: white;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;
    margin-top: 15px;
    min-width: 100px;
}