input {
    color: black;
    font-size: 14px;
    line-height: 22px;
    width: 50%;
    border: none;
    border-bottom: 2px solid gray;
    padding: 0px 10px 5px 10px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid green;
}