.wrapper {
    padding: 50px;
    top: 35%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50vw;
    background-color: white;
    box-shadow: 0px 0px 15px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    position: fixed;
    transition: 2s;
    animation: modal .4s;

    .closeBtn {
        position: absolute;
        top: 10%;
        right: 5%;
        border: none;
        outline: none;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: transparent;
        font-size: 18px;
    }

    @keyframes modal {
        from {
            top: 10%;
            opacity: 0;
        }

        to {
            top: 35%;
            opacity: 1;
        }
    }
}